<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lzx.system.mapper.SysRoleMapper">
    <!-- resultMap映射 -->
    <resultMap id="BaseResultMap" type="org.lzx.common.domain.entity.SysRole">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="role_desc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_id" property="updateId" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- SQL片段，列出表的所有基础字段 -->
    <sql id="baseColumns">
        t.id,
        t.role_name,
        t.role_code,
        t.status,
        t.role_desc,
        t.type,
        t.create_id,
        t.create_by,
        t.update_id,
        t.update_by,
        t.create_time,
        t.update_time,
        t.is_deleted,
        t.delete_time
    </sql>

    <select id="getUserRole" resultType="java.lang.String" parameterType="java.lang.String">
        select tsr.role_name
        from sys_role tsr
        where tsr.id in (select role_id from sys_user_role where user_id = ${id})
    </select>

    <select id="getRolesByUserId" resultType="org.lzx.common.domain.vo.SysRoleVO">
        select tsr.id, tsr.role_name
        from sys_role tsr
        where tsr.id in (select role_id from sys_user_role where user_id = ${id})
    </select>


    <insert id="addRole" parameterType="org.lzx.common.domain.entity.SysRole">
        insert into sys_role(
        role_name,
        role_code,
        status,
        <if test="roleDesc != null">
            role_desc,
        </if>
        <if test="type != null">
            type,
        </if>
        <if test="createId != null">
            create_id,
        </if>
        <if test="createBy != null and createBy != ''">
            create_by,
        </if>
        <if test="updateId != null and updateId != ''">
            update_id,
        </if>
        <if test="updateBy != null and updateBy != ''">
            update_by,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="isDeleted != null">
            is_deleted,
        </if>
        <if test="deleteTime != null ">
            delete_time,
        </if>
        create_time
        )values(
        #{roleName},
        #{roleCode},
        #{status},
        <if test="roleDesc != null">
            #{roleDesc},
        </if>
        <if test="type != null">
            #{type},
        </if>
        <if test="createId != null">
            #{createId},
        </if>
        <if test="createBy != null">
            #{createBy},
        </if>
        <if test="updateId != null">
            #{updateId},
        </if>
        <if test="updateBy != null">
            #{updateBy},
        </if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
        <if test="isDeleted != null">
            #{isDeleted},
        </if>
        <if test="deleteTime != null">
            #{deleteTime},
        </if>
        sysdate()
        )
    </insert>

    <delete id="removeRoleByIds" parameterType="Long">
        update sys_role set is_deleted = '1',delete_time = sysdate() where id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <select id="checkRoleNameUnique" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="baseColumns"/>
        from sys_role as t
        where t.role_name = #{roleName} and is_deleted = 0
    </select>



    <update id="updateRole">
        update sys_role
        <set>
            <if test="item.roleName != null">
                role_name = #{item.roleName},
            </if>
            <if test="item.roleDesc != null ">
                role_desc = #{item.roleDesc},
            </if>
            <if test="item.status != null ">
                status = #{item.status},
            </if>
            <if test="item.roleCode != null">
                role_code = #{item.roleCode},
            </if>
            <if test="item.type != null">
                type = #{item.type},
            </if>
            <if test="item.updateId != null">
                update_id = #{item.updateId},
            </if>
            <if test="item.updateBy != null">
                update_by = #{item.updateBy},
            </if>
            update_time = sysdate()
        </set>
        where
        id = #{item.id}
    </update>

    <update id="removeRoleByID">
        update sys_role
        set is_deleted  = '1',
            delete_time = sysdate()
        where id = #{id}
    </update>
</mapper>