<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lzx.system.mapper.SysUserRoleMapper">

    <select id="getByRoleId" resultType="int">
        SELECT count(1)
        FROM sys_user_role
        WHERE role_id = #{roleId}
    </select>

    <insert id="batchUserRole">
        insert into sys_user_role(user_id,role_id) values
        <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
            #{item.userId},#{item.roleId}
        </foreach>
    </insert>

    <delete id="deleteUserRoleByUserId">
        delete from sys_user_role where
            user_id in
        <foreach collection="array" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insertUserRole">

    </insert>
</mapper>