<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lzx.system.mapper.SysUserMapper">

    <!-- resultMap映射 -->
    <resultMap id="BaseResultMap" type="org.lzx.common.domain.entity.SysUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="otp_secret" property="otpSecret" jdbcType="VARCHAR"/>
        <result column="user_gender" property="userGender" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_id" property="updateId" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- SQL片段，列出表的所有基础字段 -->
    <sql id="baseColumns">
        t.id,
        t.nick_name,
        t.user_name,
        t.password,
        t.status,
        t.otp_secret,
        t.user_gender,
        t.user_phone,
        t.user_email,
        t.last_login_time,
        t.last_login_ip,
        t.create_id,
        t.create_by,
        t.update_id,
        t.update_by,
        t.create_time,
        t.update_time,
        t.is_deleted,
        t.delete_time
    </sql>

    <insert id="insertUser" parameterType="org.lzx.common.domain.entity.SysUser" useGeneratedKeys="true">
        insert into sys_user (
        <if test="userName != null">user_name,</if>
        <if test="nickName != null">nick_name,</if>
        <if test="userEmail != null">user_email,</if>
        <if test="userPhone != null and userPhone != ''">user_phone,</if>
        <if test="userGender != null">user_gender,</if>
        <if test="password != null ">password,</if>
        <if test="status != null">status,</if>
        <if test="createId != null">create_id,</if>
        <if test="createBy != null">create_by,</if>
        create_time
        ) values (
        <if test="userName != null"> #{userName},</if>
        <if test="nickName != null">#{nickName},</if>
        <if test="userEmail != null">#{userEmail},</if>
        <if test="userPhone != null and userPhone != ''">#{userPhone},</if>
        <if test="userGender != null">#{userGender},</if>
        <if test="password != null">#{password},</if>
        <if test="status != null"> #{status},</if>
        <if test="createId != null">#{createId},</if>
        <if test="createBy != null">#{createBy},</if>
        sysdate())
    </insert>

    <update id="deleteUser">
        update sys_user set is_deleted = 1, delete_time = sysdate() where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="checkUserNameUnique" parameterType="String" resultMap="BaseResultMap">
        select id, user_name from sys_user where user_name = #{userName} and is_deleted = 0 limit 1
    </select>

    <update id="updateuser">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="userEmail != null ">user_email = #{userEmail},</if>
            <if test="userPhone != null ">user_phone = #{userPhone},</if>
            <if test="userGender != null and sex != ''">user_gender = #{userGender},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="lastLoginIp != null and loginIp != ''">last_login_ip = #{lastLoginIp},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>
    <!-- 这里省略具体的SQL查询语句，比如selectById, selectAll等 -->
</mapper>